header, menu{
          justify-content: space-around;
}
ion-icon{
                    font-size: 24px;
}
#logo-facebook{
    font-size: 50px ;
}

.menuPrincipal ion-icon, .menuIcon{
                              background-color: lightgray;
                    border-radius: 20px;
                    padding: 5px; /*No se coloco la clase de bootsrap porque literalmente era mas facil dar el padding asi*/
}
menu li{
          list-style: none;
}
section{
          width: 200px;
          justify-content: space-evenly;
}
menu{
          width: 300px;
}
.user:first-of-type{
          width: 100px;
          height: fit-content;
}
.desktop-menu ion-icon:hover{
          color: #0d6efd;
          border-bottom: solid 1px #0d6efd;
}
#Lupita{
    left: 40px;
    top: 15px;
}
.historie{
 background-size: cover; background-repeat: no-repeat; background-position: center center; opacity: 80%;

}
/* 
Nosotros los de la tarde estamos cuadrando una actividad de matematica con el profe Luis Ciroco. Entonces queria invitarlos a ustedes los de la mañana para ese conversatorio
Queria preguntarte si podría comunicar esa información en su grupa y tal porque bueh no se si después les ladilla y tal JADSJA */
